.ba-button {
  width: 100%;
  padding: 14px 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  background-color: var(--ba-button-primary);

  color: var(--ba-text-white);
  font-weight: 700;
}
