.ba-modal-window {
  position: fixed;
  inset: 0;

  margin: 0;

  z-index: 101;
}

.ba-modal-window__substrate {
  position: absolute;
  inset: 0;

  margin: 0;

  background-color: var(--ba-background-secondary);
  opacity: 0.4;

  z-index: 1;
}

.ba-modal-window__content {
  position: absolute;
  inset: 0;

  margin: auto;
  width: 512px;
  height: fit-content;
  padding: 16px 12px;

  background-color: var(--ba-background-white);

  z-index: 2;

  overflow: hidden;
}
