.ba-default-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ba-default-layout__header {
  width: 100%;
  padding: 24px 0 23px 0;
  border-bottom: 1px solid var(--ba-border-primary);

  display: flex;
  justify-content: center;
}

.ba-default-layout__header-content {
  padding-left: 96px;
}

.ba-default-layout__body {
  display: flex;
  flex-grow: 1;
}

.ba-default-layout__footer {
  width: 100%;
  padding: 24px 0;

  display: flex;
  justify-content: center;

  background-color: var(--ba-background-secondary);
}

.ba-default-layout__footer-content {
  padding-left: 96px;
}
