@font-face {
  font-family: 'Merriweather';
  src: url(../fonts/Merriweather_Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Merriweather';
  src: url(../fonts/Merriweather_Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Merriweather';
  src: url(../fonts/Merriweather_Bold.ttf) format('truetype');
  font-weight: 700;
}
